@font-face {
  font-family: "Gotham Light";
  src: url("~assets/fonts/Gotham-Font/gothamlight-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/Gotham-Font/gothamlight-webfont.woff") format("woff");
  font-weight: 300; /* Peso de la fuente "light" */
  font-style: normal;
}

@font-face {
  font-family: "Gotham Regular";
  src: url("~assets/fonts/Gotham-Font/gothammedium-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/Gotham-Font/gothammedium-webfont.woff") format("woff");
  font-weight: 400; /* Peso de la fuente "regular" */
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("~assets/fonts/Gotham-Font/gothambold-webfont.woff2") format("woff2"),
    url("~assets/fonts/Gotham-Font/gothambold-webfont.woff") format("woff");
  font-weight: 700; /* Peso de la fuente "bold" */
  font-style: normal;
}

@font-face {
  font-family: "Inure Black";
  src: url("~assets/fonts/Inure-Black/inure_black-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/Inure-Black/inure_black-webfont.woff") format("woff");
  font-weight: 900; /* Peso de la fuente "light" */
}
